/* Styles for landingBanner section */
.landingBanner {
    width: 100%;
    height: auto;
    min-height: 80vh;
    background-image: url("../../../public/background.jpg");
    background-size: cover;
    background-position-y: 0.5%;
    padding-top: 3vh;
}

/* Styles for howItWorks section */
.howItWorks {
    background-image: url("../../../public/background.jpg");
    background-size: cover;
    background-position-y: 18.2%;
}

/* Styles for officeHandShake section */
.officeHandShake {
    background-color: #EBF3FF;
    border: 1px solid rgb(222, 222, 222);
    background: linear-gradient(#EBF3FF, rgba(255,255,255,.5)), url("https://res.cloudinary.com/drjut62wv/image/upload/v1677408002/omerald/diagnosticCenter/undraw_business_deal_re_up4u_kxbvcg.svg");
}

/* Styles for helpBusiness section */
.helpBusiness {
    background-image: url("../../../public/background.jpg");
    background-size: cover;
    background-position-y: 30%;
}

/* Styles for contactUs section */
.contactUs {
    background-image: url("../../../public/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 74%;
}

/* Media queries for small screens (max-width: 429px) */
@media only screen and (max-width: 429px) {
    .landingBanner {
        background-size: 1000px;
        background-position-x: 30%;
        padding-top: 2vh !important;
        min-height: auto !important;
    }
    .howItWorks, .helpBusiness {
        background-image: none !important;
    }
    .contactUs {
        background-size: 600px;
        background-position-y: 36% !important;
    }
}

/* Media queries for medium screens (min-width: 430px and max-width: 769px) */
@media (min-width: 430px) and (max-width: 769px) {
    .landingBanner {
        background-size: 2000px;
        background-position-x: 45%;
        padding-top: 1vh !important;
        min-height: auto !important;
    }
    .howItWorks {
        background-image: none !important;
    }
    .helpBusiness {
        background-size: 1000px;
        background-position-y: 40%;
        padding-top: 2vh !important;
    }
    .contactUs {
        background-size: 700px;
        background-position-y: 35% !important;
    }
}
