.signInContainer{
    width: 100vw;
    height: 100vh;
    background-image: url("https://res.cloudinary.com/drjut62wv/image/upload/v1677440521/omerald/diagnosticCenter/Frame_1_oba0es.png");
    background-size: 2800px;
    background-repeat: no-repeat;
}