.signInContainer{
    height: 100vh;
    background-image: url("https://res.cloudinary.com/drjut62wv/image/upload/v1677440521/omerald/diagnosticCenter/Frame_1_oba0es.png");
    background-size: 130vw;
    background-position-x: -1vw;
    background-repeat: no-repeat;
}

@media (min-width:430px) and (max-width:769px) {
    .signInContainer{
        background-size: 240vh;
        background-position-x: -1vw;
    }
}

@media only screen and (max-width:430px) {
    .signInContainer{
        background-size: 280vh;
        background-position-x: -1vw;
    }
}
